{% if cities is not empty %}

    <div id="citiesTable" class="table-responsive tableWrapper">
        {% include 'cities/citiesTable.html.twig' %}
    </div>

    {% include 'snippets/hiddenAlerts.html.twig' %}
{% else %}
    <div class="alert alert-warning">
        <h2>{% trans %}noResult{% endtrans %}</h2>
    </div>
{% endif %}