{% extends 'base.html.twig' %}

{% set title='cities.title'|trans %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h2>{{ title }}</h2>
            <hr/>
        </div>
    </div>

    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="col offset-8">
            <button id="addCityBtn" type="button" class="btn btn-block btn-success" data-action="{{ path('cities_add') }}">{% trans %}city.add{% endtrans %}</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% include 'snippets/alertContainer.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="CitiesTableWrapper">
                {% include 'cities/citiesTableWrapper.html.twig' %}
            </div>
        </div>
    </div>

    <div id="ModalContainer"></div>
{% endblock %}
