{% extends 'base.html.twig' %}
{% block title %}{%trans%}error.pageTitle{%endtrans%}{% endblock %}
{% block body %}
    <h3>{%trans%}error.403.title{%endtrans%}</h3>
    <p>{%trans%}error.403.desc{%endtrans%}</p>
{% endblock body %}