{% extends 'base.html.twig' %}

{% block title %}{%trans%}error.pageTitle{%endtrans%}{% endblock %}
{% block body %}
    <h3>{%trans%}error.default.title{%endtrans%}</h3>
    <p><strong>{%trans%}error.errorNo{%endtrans%}: #{{errorNumber}}</strong></p>
    <p>{%trans%}error.default.desc{%endtrans%}</p>
{% endblock body %}