{% extends 'base.html.twig' %}
{% block title %}{%trans%}error.pageTitle{%endtrans%}{% endblock %}
{% block body %}
    <h3>{%trans%}error.404.title{%endtrans%}</h3>
    <p>{%trans%}error.404.desc{%endtrans%}</p>
    <a href="{{ path('index') }}">{% trans %}returnToDefaultPage{% endtrans %}</a>
{% endblock body %}