{% import "snippets/alert.html.twig" as alertRenderer %}

<div id="hiddenAlerts">
    {% if alerts is defined and alerts is not empty %}
        {% for alert in alerts %}
            {{ alertRenderer.renderAlert(alert.type, alert.message) }}
        {% endfor %}
    {% endif %}
</div>