<div id="hiddenAlerts">
    {% if alerts is defined and alerts is not empty %}
        {% for alert in alerts %}
            {% include 'snippets/alert.html.twig' with {
                'alertType' : alert.type,
                'alertMessage' : alert.message
            } %}
        {% endfor %}
    {% endif %}
</div>