{% extends 'base.html.twig' %}

{% block title %}{% trans %}app.mainPage.title{% endtrans %}{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <h1>To jest strona testowa</h1>
{% endblock %}
{% block javascripts %}
{% endblock %}